.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #0a9830;
  margin-bottom: 30px;
}

.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.submitButton {
  background: #0a9830;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.radioButtonBox {
  background-color: #ffffff;
  box-shadow: 1px 2px 9px #000000;
  border-radius: 4px;
  margin: 10px 2px;
  padding: 10px;
}

.locationInputText {
  padding: 10px;
  margin: 10px 2px;
  width: 93%;
}
